@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    font-family: 'Inter', sans-serif !important;
 
}

.cs-main-container {
    .cs-conversation-header{
        background-color: #502D3C !important;
        padding: 0.8em 0.9em !important;
        
        
    }
    border: 0 !important;
    border-radius: 1.4em !important;
    -webkit-border-radius: 1.4em !important;
    -moz-border-radius: 1.4em !important;
    -ms-border-radius: 1.4em !important;
    -o-border-radius: 1.4em !important;
}


.cs-conversation-header__content {
    flex-grow: 0 !important;
    

    .cs-conversation-header__user-name {
        // height: 18px !important;
        background-color: transparent !important;
        color: white !important;
    }

    .cs-conversation-header__info{
        font-size: .7em !important; 
        margin-right: 0em !important;
        background-color: transparent !important;
        color: white !important;
    }
}

.cs-conversation-header__back{
    margin-right: 1.5em !important;
    
}


.cs-conversation-header__avatar {
    margin-right: 0.5em !important;
    margin-top: 0.3em !important;
    // make variable for avatar size header
    $avatar-width : 2.1em !important; 
    width: $avatar-width;
    height: $avatar-width ;
    .cs-avatar.cs-avatar--md{
        width: $avatar-width ;
        height: $avatar-width ;
        min-width: $avatar-width ;
        min-height: $avatar-width ;
    }

    .cs-avatar>img  {
        border-radius: 20% !important;
        -webkit-border-radius: 20% !important;
        -moz-border-radius: 20% !important;
        -ms-border-radius: 20% !important;
        -o-border-radius: 20% !important;
}
}

.cs-button--arrow {
    color: #ffffff !important;
}

.message-avatar {
    margin-bottom: 1em !important;
    margin-top: 1.5em !important;
   
   
    // width: $avatar-width;
    // height: $avatar-width ;
    .cs-avatar.cs-avatar--md{
        margin-top: 0.4em !important;
        $avatar-width : 2em !important; 
        width: $avatar-width ;
        height: $avatar-width ;
        min-width: $avatar-width ;
        min-height: $avatar-width ;
    }

    .cs-avatar>img  {
        border-radius: 20% ;
   
}
.cs-message__content {
    background-color: #ffffff  !important;  // bot message color
    text-align: left !important;
   margin-top: 0.2em;

}
.cs-message--outgoing .cs-message__content {
    color: rgba(255, 255, 255, 0.87);
    background-color: #7e465e !important;
    border-radius: 0.7em !important;
    
}
}
.cs-message-list {
    background-color: #F5F3EE !important;
    // padding-top: 30px;
}

.cs-message-input__content-editor-wrapper {
   
    background-color: #fdfeff !important;
    margin-left: 0 !important;
    padding-bottom: 1.5em !important;
    // padding: 0.6em 0.9em !important;
    // width: 100%;
    
    // border-radius: 0em !important;
    // flex-grow: 0 !important;
}

.cs-message-input__content-editor  {
    background-color: white !important;
    text-align: left ;
}

.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper {
    // margin-left: 0 !important;
    // display: flex !important;
    align-items: flex-start !important;
    
    
}

.cs-message-input {
    width: 82% !important;
}

.cs-typing-indicator__indicator {
    box-sizing: inherit !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    // background-color: #ededed !important;
    // position: absolute;
    // top: -36em;
    // margin-left: 3.5em;
    // padding: 1em 0.9em !important;
    border-radius: 1em;
    display: flex;
    justify-content: center;

    .cs-typing-indicator__dot {
        background-color: #303030 !important;
       
      
    }
}

.cs-typing-indicator {
    background-color: transparent !important;
}


.ps__thumb-y {
    background-color: #c7c7c7 !important;
    border-radius: 6px;
    width: 6px;
    right: 2px;
    position: absolute;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }
  
  .modal-main {
    position:fixed;
    background: rgb(246, 245, 245);
    width: 44vw;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
   
}
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }


  
.message-logo{
    margin-bottom: -2.4em !important;
    >img {

        position: relative;
        right: 1.1em !important;
        width: 1em !important;
        height: 1em !important;
        border-radius: 50% !important;
    }
}

.fadein-animation {
    animation: fadeInFromBottom 0.5s ease-out forwards;
    position: relative;
   
}


@keyframes fadeInFromBottom {
    from {
      top: 50px; /* Starting position */
      opacity: 0; /* Starting opacity */
    }
    to {
      top: 0; /* Final position */
      opacity: 1; /* Final opacity */
    }
  }

  .chat-widget {
    //animationtominimizeinthechatwidget
    animation: closeWidget 0.5s forwards;
}


@keyframes closeWidget {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    70% {
      transform: scale(0.8);
      opacity: 0.8;
    }
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
}